body {
    min-height: 100vh;
    background: white;
    font-family: Stolzl, sans-serif;
    color: #4285f4;
    text-align: center;
}

h1{
    font-size: 2.5em;
    margin-top: 20px;
}

h2{
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 1.5em;
}

form{
    width: 400px;
    height: 40px;
    display: flex;
    margin: 0 auto;
}

.search {
    width: calc(100% - 54px);
    height: auto;
    background-color: #ffffff;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-color: #4285f4;
    border-width: thin;
    padding-left: 15px;
    outline: none;
    padding-top: 0;
    font-size: 1.1em;
}

.submit{
    background: url("https://img.icons8.com/ffffff/search") center center/50% auto
    no-repeat #4285f4;
    border: 0;
    width: 54px;
    height: auto;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
    transition: all 300ms;
}

.submit:hover{
    background: url("https://img.icons8.com/ffffff/search") center center/50% auto
    no-repeat #3973d5;
}